name: Keep Actions Alive
on:
  schedule:
    - cron: '17 3 1 * *'
  workflow_dispatch:

permissions:
  actions: write

jobs:
  alive:
    runs-on: ubuntu-latest
    steps:
      - name: Enable current workflow
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wid="$(gh api repos/${{ github.repository }}/actions/workflows --jq '.workflows[] | select(.name == "${{ github.workflow }}") | .id')"
          gh api -X PUT "repos/${{ github.repository }}/actions/workflows/${wid}/enable"
